= form_for @exercise do |f|
  - if @exercise.errors.any?
    #error_explanation
      %h2= "#{pluralize(@exercise.errors.count, "error")} prohibited this exercise from being saved:"
      %ul
        - @exercise.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :bodypart
    -if @bodypart_id
      = f.select(:bodypart_id, BodyPart.all.map{ |c| [c.name.capitalize, c.id] }, :selected => @bodypart_id)
    -else
      = f.select(:bodypart_id, BodyPart.all.map{ |c| [c.name.capitalize, c.id] }, :prompt => "- Choose Body Part -")
    -#- BodyPart.each do |bodypart|
      -#= f.text_field :bodypart
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :details
    = f.text_area :details
  .field
    = f.label :youtube
    = f.text_field :youtube
  -#.field
    -#= f.label :votes
    -#= f.number_field :votes
  .actions
    = f.submit 'Save', class: "btn btn-success"
